    /*
    Flaticon icon font: Flaticon
    Creation date: 12/04/2020 15:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-living:before { content: "\f100"; }
.flaticon-empire-state-building:before { content: "\f101"; }
.flaticon-money-bag:before { content: "\f102"; }
.flaticon-risk:before { content: "\f103"; }
.flaticon-moon-landing:before { content: "\f104"; }
.flaticon-factory:before { content: "\f105"; }
.flaticon-conveyor:before { content: "\f106"; }
    
    $font-Flaticon-living: "\f100";
    $font-Flaticon-empire-state-building: "\f101";
    $font-Flaticon-money-bag: "\f102";
    $font-Flaticon-risk: "\f103";
    $font-Flaticon-moon-landing: "\f104";
    $font-Flaticon-factory: "\f105";
    $font-Flaticon-conveyor: "\f106";